{% extends "base.html" %}

{% block title %}
    Render Graph - Afterglow
{% endblock %}

{% block body %}

    {% if form.errors %}
        <div class="cRenderError"><span class="cErrorMsg">
			Please correct the error{{ form.errors|pluralize }} below.
		</span></div>
    {% endif %}

    {% if afLogglyRevoked %}
        <span class="success">You have revoked access to the subdomain from our end.</span>
    {% endif %}

    <form enctype="multipart/form-data" method="post" action="process" id="renderMainForm">
        {% csrf_token %}

        {% include "form_partials/input_sources.html" %}

        {% include "form_partials/main_settings.html" %}

        {% include "form_partials/advanced_settings.html" %}

        {% include "form_partials/configuration.html" %}


        <br/><br/>

        <label class="checkbox"
               title="If checked the options chosen in the 'Settings' and 'Advanced settings' tabs are saved as a cookie and retained for four days. AfterGlow will remember your settings if you choose to render a graph again.">
            {{ form.saveConfigCookie }} Save configuration
        </label>

        <br/>

        <input type="submit" value="Render" id="xRenderProcess" class="btn btn-primary">
    </form>

    <div id="xRegExDescriptions">{{ regExDescriptions }}</div>

    <textarea id="xPropertyConfigPopulate" name="xPropertyConfigPopulate" rows="2" cols="2"
              class="hide">{{ propertyConfig }}</textarea>

    {% if afLogglySet %}
        <script>afLogglySet = true;</script>
    {% endif %}

    <script type="text/javascript">
        $('fieldset').tooltip();
        $('label').tooltip();
        $('#mainSettings').collapse('hide');
        $('#advancedSettings').collapse('hide');
        $('#configuration').collapse('hide');


        toggleVisibility = function (component) {

            $('input:radio[data-toggle="visibility"]').each(function () {
                var target = $(this).data("target");
                $(target).hide();
            });


            var target = $(this).data("target");
            $(target).show();
        };

        $('input:radio[data-toggle="visibility"]').change(toggleVisibility);
    </script>

{% endblock %}
