<fieldset>
    <a href="#">
        <legend data-toggle="collapse" data-target="#advancedSettings">Advanced Settings</legend>
    </a>
    <fieldset id="advancedSettings">
        <label class="input-medium"
               title="Skips the specified number of lines from the data-file (say for example, header data).">
            Skip lines
            {{ form.skipLines.errors }}
            {{ form.skipLines }}

            <div class="alert alert-error validation-message hide" data-validation-for="#id_skipLines">
                <span>
                    Please, enter number of lines to skip or 0
                </span>
            </div>
        </label>

        <label class="input-medium" title="Maximum number of lines to read from the data-file.">

            {{ form.maxLines.errors }}
            Maximum lines
            {{ form.maxLines }}

            <div class="alert alert-error validation-message hide" data-validation-for="#id_maxLines">
                <span>
                    Please, enter maximum amount of lines to be processed
                </span>
            </div>
        </label>

        <label class="input-medium" title="Omits nodes which occur less than the specified threshold.">

            {{ form.omitThreshold.errors }}
            Omit threshold for each node
            {{ form.omitThreshold }}

            <div class="alert alert-error validation-message hide" data-validation-for="#id_omitThreshold">
                <span>
                    Please, enter number of occurences for node to be displayed
                </span>
            </div>
        </label>

        <label class="input-medium"
               title="Omits nodes which have a lesser number of edges originating from them, than the specified threshold.">

            {{ form.sourceFanOut.errors }}
            Source fan out threshold
            {{ form.sourceFanOut }}

            <div class="alert alert-error validation-message hide" data-validation-for="#id_sourceFanOut">
                <span>
                    Please, enter how many output edges source node should have to be displayed
                </span>
            </div>
        </label>

        <label class="input-medium"
               title="Omits event nodes which have a lesser number of edges originating form them, than the specified threshold.">

            {{ form.eventFanOut.errors }}
            Event fan out threshold
            {{ form.eventFanOut }}

            <div class="alert alert-error validation-message hide" data-validation-for="#id_eventFanOut">
                <span>
                    Please, enter how many output edges event node should have to be displayed
                </span>
            </div>
        </label>
    </fieldset>
</fieldset>