{% load widget_tweaks %}
<fieldset>
    <a href="#">
        <legend data-toggle="collapse" data-target="#mainSettings">
            <i class="icon-arrow-down"></i>
            Main Settings</legend>
    </a>


    <fieldset id="mainSettings">
        <label class="checkbox" title="Check to print the number of instances of each node present.">
            {{ form.printNodeCount.errors }}
            {{ form.printNodeCount }}Print node count
        </label>


        <label class="checkbox"
               title="Split source and target as seperate nodes (otherwise same node with two edges).">

            {{ form.splitNodes.errors }}
            {{ form.splitNodes }}Split source and target nodes
        </label>

        <fieldset id="splittingModes" class="hide">

            {{ form.splitMode.errors }}
            <label>Splitting:</label>
            {{ form.splitMode }} <a href="#" class="tooltip"
                                    title="Splitting mode. See: http://afterglow.sourceforge.net/configuration.jpg for an example.">?</a>

        </fieldset>

        <label class="checkbox" title="Override default edge length">
            {{ form.overrideEdge.errors }}

            {{ form.overrideEdge  | set_data:"toggle:visibility"| set_data:"target:#overrideEdgeLengthInput"}}
            Override default edge length
        </label>

        <label class="checkbox hide" title="Override default edge length" id="overrideEdgeLengthInput">
            {{ form.overrideEdgeLength.errors }}
            {{ form.overrideEdgeLength }}

            <div class="alert alert-error validation-message hide" data-validation-for="#id_overrideEdgeLength">
                <span>
                    Please, enter length as integer number or 0 to use default settings
                </span>
            </div>
        </label>

        <label class="input-medium" title="HEX colour for the text labels used on the graph.">

            {{ form.textLabel.errors }}
            <label>Text label colour:</label>
            {{ form.textLabel }}

            <div class="alert alert-error validation-message hide" data-validation-for="#id_textLabel">
                <span>
                    Please, enter color in hexadecimal format(e.g. #000000)
                </span>
            </div>

        </label>
    </fieldset>
</fieldset>